In [35]:
from pyspark import SparkContext, SparkConf
from operator import add
import warnings
warnings.filterwarnings("ignore")

In [4]:
sc

In [10]:
pt =sc.textFile('/ca2/ProjectTweets.csv')

In [6]:
print('number of lines: %s' % file_in.count())

number of lines: 1600000

In [11]:
from pyspark.sql.types import *
path = "/ca2/ProjectTweets.csv"
schema = StructType([StructField('target', IntegerType(), True),
                     StructField('ids', IntegerType(), True),
                     StructField('date', StringType(), True),
                     StructField('flag', StringType(), True),
                     StructField('user', StringType(), True),
                     StructField('text', StringType(), True)])
TweetsDF = spark.read.csv(path,schema)

In [12]:
TweetsDF.printSchema()

root
 |-- target: integer (nullable = true)
 |-- ids: integer (nullable = true)
 |-- date: string (nullable = true)
 |-- flag: string (nullable = true)
 |-- user: string (nullable = true)
 |-- text: string (nullable = true)

In [18]:
TweetsDF.head(5)

[Row(target=0, ids=1467810369, date='Mon Apr 06 22:19:45 PDT 2009', flag='NO_QUERY', user='_TheSpecialOne_', text="@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"),
 Row(target=1, ids=1467810672, date='Mon Apr 06 22:19:49 PDT 2009', flag='NO_QUERY', user='scotthamilton', text="is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!"),
 Row(target=2, ids=1467810917, date='Mon Apr 06 22:19:53 PDT 2009', flag='NO_QUERY', user='mattycus', text='@Kenichan I dived many times for the ball. Managed to save 50%  The rest go out of bounds'),
 Row(target=3, ids=1467811184, date='Mon Apr 06 22:19:57 PDT 2009', flag='NO_QUERY', user='ElleCTF', text='my whole body feels itchy and like its on fire '),
 Row(target=4, ids=1467811193, date='Mon Apr 06 22:19:57 PDT 2009', flag='NO_QUERY', user='Karoli', text="@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there. ")]

In [19]:
TweetsDF.dtypes

[('target', 'int'),
 ('ids', 'int'),
 ('date', 'string'),
 ('flag', 'string'),
 ('user', 'string'),
 ('text', 'string')]

In [28]:
from pyspark.sql import functions as F

# Read raw csv file into SparkDataFrame
sdf_raw = spark.read.options(header=False,delimiter=',').schema(schema).csv(path).repartition(16).cache()
sdf_raw.show()

+------+----------+--------------------+--------+---------------+--------------------+
|target|       ids|                date|    flag|           user|                text|
+------+----------+--------------------+--------+---------------+--------------------+
|  3778|1468674287|Tue Apr 07 03:05:...|NO_QUERY|      spwhitton|Just booted into ...|
| 46315|1677375587|Sat May 02 01:45:...|NO_QUERY|  Dancingkate16|I hate revising w...|
|660821|      null|Fri Jun 19 12:42:...|NO_QUERY|   MzVannaBlack|@introversive i w...|
|623046|      null|Thu Jun 18 15:42:...|NO_QUERY|       arlenexo|it's JUNE - almos...|
|108478|1824293567|Sun May 17 00:46:...|NO_QUERY|     lavishlace|Still wOrk , fuck...|
|181009|1966735305|Fri May 29 18:18:...|NO_QUERY|     Rachael102|is gonna stop upl...|
| 94860|1771212334|Mon May 11 23:34:...|NO_QUERY|  alexandragood|pizookies AND dan...|
|627407|      null|Thu Jun 18 17:47:...|NO_QUERY|       shiney42|@PhillyNYY See Ya...|
|755385|      null|Mon Jun 22 19:00:...|NO_QUERY|         deancj|Went and saw the ...|
|387677|2054063004|Sat Jun 06 06:27:...|NO_QUERY|xXAnBuShinobiXx|Publishing my fir...|
|766169|      null|Tue Jun 23 13:20:...|NO_QUERY|      alicema29|is so sad about j...|
|763635|      null|Tue Jun 23 11:44:...|NO_QUERY|      helloeien|@MKupperman Art i...|
|344907|2015777321|Wed Jun 03 05:29:...|NO_QUERY|    MSAhluwalia|@damaged_gurl_o3 ...|
|464705|      null|Mon Jun 15 00:18:...|NO_QUERY|       Its_Amyy|I need more help!...|
| 12849|1552000725|Sat Apr 18 10:31:...|NO_QUERY|  cassieewassie|Well then! why do...|
|418731|2061834336|Sat Jun 06 21:43:...|NO_QUERY|     sevillasof|stayed home 2 fin...|
|217497|1975948561|Sat May 30 16:15:...|NO_QUERY|         avecvu|That was anticlim...|
|813687|1548862020|Fri Apr 17 22:12:...|NO_QUERY|    LS_FEARLESS|@teresanguyen yup...|
|366655|2048919417|Fri Jun 05 15:59:...|NO_QUERY|        GaryBoy|@Going4Greatness ...|
|553770|      null|Wed Jun 17 00:19:...|NO_QUERY|      amcrocker|I kinda feel like...|
+------+----------+--------------------+--------+---------------+--------------------+
only showing top 20 rows

2023-11-12 01:09:34,341 WARN execution.CacheManager: Asked to cache already cached data.

In [51]:
tweetsdf= sdf_raw.toPandas()

In [52]:
tweetsdf

,target,ids,date,flag,user,text
0,3778,1.468674e+09,Tue Apr 07 03:05:35 PDT 2009,NO_QUERY,spwhitton,Just booted into Windows to upload something s...
1,46315,1.677376e+09,Sat May 02 01:45:22 PDT 2009,NO_QUERY,Dancingkate16,I hate revising when the sun comes out and I'm...
2,660821,NaN,Fri Jun 19 12:42:04 PDT 2009,NO_QUERY,MzVannaBlack,@introversive i was just saying that the other...
3,623046,NaN,Thu Jun 18 15:42:31 PDT 2009,NO_QUERY,arlenexo,it's JUNE - almost JULY. getting sick of this ...
4,108478,1.824294e+09,Sun May 17 00:46:43 PDT 2009,NO_QUERY,lavishlace,"Still wOrk , fuck , I'm still at wooorrrkkkk"
...,...,...,...,...,...,...
1599995,1320636,2.014611e+09,Wed Jun 03 02:06:06 PDT 2009,NO_QUERY,kikimako,Everyone else better lift your game. You know ...
1599996,1184189,1.982565e+09,Sun May 31 11:27:46 PDT 2009,NO_QUERY,tortor56,ready for something extraordinary to happen
1599997,1367768,2.050473e+09,Fri Jun 05 18:43:55 PDT 2009,NO_QUERY,ReyBarcena,About 2 do a show honering mr. Nygel lythgoe a...
1599998,989157,1.834843e+09,Mon May 18 04:22:44 PDT 2009,NO_QUERY,seisui,enjoying sunday on monday
1599999,1552465,NaN,Mon Jun 15 15:50:41 PDT 2009,NO_QUERY,femercante,@tommcfly you and James should play together a...

In [57]:
tweetsdf['date']=pd.to_datetime(tweetsdf['date'])

In [63]:
tweetsdf.dtypes

target      int32
ids       float64
flag       object
user       object
text       object
dtype: object

2023-11-12 08:22:16,148 WARN spark.HeartbeatReceiver: Removing executor driver with no recent heartbeats: 11091316 ms exceeds timeout 120000 ms
2023-11-12 08:22:16,171 WARN spark.SparkContext: Killing executors is not supported by current scheduler.

In [58]:
import pandas as pd
import datetime

In [59]:
tweetsdf.set_index("date", inplace=True)

In [62]:
tweetsdf

,target,ids,flag,user,text
date,,,,,
2009-04-07 03:05:35,3778,1.468674e+09,NO_QUERY,spwhitton,Just booted into Windows to upload something s...
2009-05-02 01:45:22,46315,1.677376e+09,NO_QUERY,Dancingkate16,I hate revising when the sun comes out and I'm...
2009-06-19 12:42:04,660821,NaN,NO_QUERY,MzVannaBlack,@introversive i was just saying that the other...
2009-06-18 15:42:31,623046,NaN,NO_QUERY,arlenexo,it's JUNE - almost JULY. getting sick of this ...
2009-05-17 00:46:43,108478,1.824294e+09,NO_QUERY,lavishlace,"Still wOrk , fuck , I'm still at wooorrrkkkk"
...,...,...,...,...,...
2009-06-03 02:06:06,1320636,2.014611e+09,NO_QUERY,kikimako,Everyone else better lift your game. You know ...
2009-05-31 11:27:46,1184189,1.982565e+09,NO_QUERY,tortor56,ready for something extraordinary to happen
2009-06-05 18:43:55,1367768,2.050473e+09,NO_QUERY,ReyBarcena,About 2 do a show honering mr. Nygel lythgoe a...
2009-05-18 04:22:44,989157,1.834843e+09,NO_QUERY,seisui,enjoying sunday on monday
2009-06-15 15:50:41,1552465,NaN,NO_QUERY,femercante,@tommcfly you and James should play together a...

In [64]:
tweets=tweetsdf['text']
tweets.to_csv('tweets_sparksql.csv')

In [65]:
t=pd.read_csv("tweets_sparksql.csv")
t.head(5)

                  date                                               text
0  2009-04-07 03:05:35  Just booted into Windows to upload something s...
1  2009-05-02 01:45:22  I hate revising when the sun comes out and I'm...
2  2009-06-19 12:42:04  @introversive i was just saying that the other...
3  2009-06-18 15:42:31  it's JUNE - almost JULY. getting sick of this ...
4  2009-05-17 00:46:43      Still wOrk , fuck , I'm still at wooorrrkkkk

In [68]:
#pip install tensorflow

In [70]:
import pandas as pd
import numpy as np
import seaborn as sns
import re
import string
from string import punctuation
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')


import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

[nltk_data] Downloading package stopwords to /home/hduser/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [73]:
# Loading NLTK
import nltk

In [ ]:
from nltk.tokenize import sent_tokenize
tokenized_text=sent_tokenize(t['text'])
print(tokenized_text)